* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.img {
  max-width: 100%;
}
.img,
svg {
  vertical-align: middle;
}

.col {
  width: 100%;
}

.h2 {
  color: black;
}

.nav__list {
  list-style: none;
  margin-left: 1rem;
}
.nav__link {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}

.nav__link:hover,
.nav__link:focus {
  opacity: 0.65;
}

.header {
  background-color: white;
  padding: 0.5rem 0;
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  border-bottom: 1px solid none;
}

.nav__item {
  margin: 0 0 0 1.5rem;
  display: inline-block;
}
body {
  font-family: "Lato", sans-serif;
}

.fondoCuerpo {
  background-image: url(https://images.pexels.com/photos/3873917/pexels-photo-3873917.jpeg?cs=srgb&dl=pexels-ready-made-3873917.jpg&fm=jpg);
  background-position: center;
  background-repeat: no repeat;
  background-size: cover;
  padding: 6rem 0 0 0;
}

.fondoCuerpo {
  background-image: linear-gradient(to left, red, yellow);
}

.footer-info {
  background-color: white;
  padding-top: 3rem;
  font-size: 1rem;
  margin-bottom: 2rem;
  text-align: center;
}

.hero {
  display: flex;
  background-image: url(https://images.pexels.com/photos/3873917/pexels-photo-3873917.jpeg?cs=srgb&dl=pexels-ready-made-3873917.jpg&fm=jpg);
  background-position: center;
  background-repeat: no repeat;
  background-size: cover;
  padding: 6rem 0 0 0;
  justify-content: center;
  align-items: center;
  gap: 1 rem;
}

/* CONTENIDO NOSOTROS */

.titulo__guada {
  text-transform: capitalize;
  color: none;
  font-size: 4.5rem;
  font-weight: 400;
  display: inline-block;
}
.parrafo__description {
  font-size: 1.4rem;
  display: inline-block;
  margin-bottom: 2rem;
}

.imagenguada {
  width: 600px;
  margin-bottom: 4rem;
  margin-right: 4rem;
  margin-top: 1rem;
}

/* CONTENIDO INDEX*/

.display-2--video {
  text-align: center;
  height: 315px;
  width: 560px;
}

.imagen_de_portada {
  width: 500px;
  margin-left: 13rem;
}

.container_index {
  display: grid;
  background-color: none;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
}

.container_index div {
  background-color: none;
  text-align: center;
  border: 1px solid none;
  align-self: center;
}

/* CONTENIDO GALERIA DE FOTOS */

.galeria {
  background-image: url(https://images.pexels.com/photos/3873917/pexels-photo-3873917.jpeg?cs=srgb&dl=pexels-ready-made-3873917.jpg&fm=jpg);
  background-position: center;
  background-repeat: no repeat;
  background-size: cover;
  padding: 6rem 0 0 0;
  display: flex;
}

.img__galeria {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 7rem;
  width: 250px;
  justify-content: center;
}

/* ESHOP*/

.galeria_eshop {
  background-image: url(https://images.pexels.com/photos/3873917/pexels-photo-3873917.jpeg?cs=srgb&dl=pexels-ready-made-3873917.jpg&fm=jpg);
  background-position: center;
  background-repeat: no repeat;
  background-size: cover;
  padding: 6rem 0 0 0;
}

.img__eshop {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 250px;
}

.grid-containershop {
  display: grid;
  background-color: none;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
}

.grid-containershop div {
  background-color: white;
  text-align: center;
  border: 1px solid black;
}

.titulocampaña {
  grid-column: 1/3;
  text-align: center;
}

.pag_inicio {
  display: flex;
  width: 300px;
}

/* GRID */
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr auto;
  min-height: 100vh;
  grid-template-areas: "header" "main" "footer";
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

/* MEDIA QUERIES */
/* MEDIA Q Mobile first */

@media (min-widht: 768px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    grid-template-areas:
      "header"
      "main"
      "footer";
  }

  .nav {
    visibility: visible;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: auto;
    position: relative;
  }

  .nav__list {
    margin: 0 0 0 1.5rem;
  }

  .display-2--intro {
    font-size: 3rem;
  }

  .display-2--video {
    font-size: 1rem;
    display: inline-block;
  }
}

@media (min-widht: 1024px) {
  .display-2--intro {
    font-size: 4.5rem;
  }

  .display-2--video {
    font-size: 1.4rem;
    display: inline-block;
  }
}
